/* class */

.title {
  text-align: center;
}

/* vp + header */

header {
  flex-direction: column;
}

header ul {
  flex-direction: column;
  text-align: center;
}

header ul li {
  margin-top: 1.5rem;
  padding: 0.5rem;
  border-bottom: 1px solid #ddd;
}

.vp-content h1 {
  font-size: 2rem;
  margin-bottom: 2rem;
}

.vp-content p {
  font-size: 1.5rem;
  letter-spacing: 0;
  font-weight: 400;
}

/* offer */

.offer {
  padding: padding 5rem 1rem 5rem 1rem;
  text-align: center;
}

/* who */

.who-content-text {
  padding: 4rem 2rem;
}

/* testimonials */

.testimonials-elem {
  flex-direction: column;
}

.testimonials-elem-reverse {
  flex-direction: column-reverse;
}

.testimonials-elem-profile {
  text-align: center;
}

.testimonials-elem-profile img {
  display: block;
  margin: auto;
}

/* contact */

.contact {
  padding: 5rem 1rem 5rem 1rem;
}

.contact form button {
  margin: 3rem auto 0 auto;
}
